<div class="container" id="container">
  <div class="form-container log-in-container">
    <form action="#">
      <h1>Login</h1>
      <div class="social-container">
        <a  class="social"><i class="fa fa-facebook fa-2x"></i></a>
        <a class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
      <input type="password" placeholder="Password" [(ngModel)]="pass" name="pass"/>
      <a href="#">Forgot your password?</a>
      <button (click)="getValues()">Log In</button>
    </form>
  </div>
  